SECRET_KEY=x
DEBUG=True
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
EMAIL_HOST_USER='@gmail.com'
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL='@gmail.com'
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = x
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = x