<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url  'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>  
            <li>
                <form action="{% url 'search' %}" method="get">
                    <input type="text" name="query" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
            </li>
        </ul>
    </nav>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>