<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Online Resevrvaiton System {% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url  'doctor-list' %}">Doctors</a></li> 
            <li>
                <form action="{% url 'doctor-list' %}" method="GET">
                    <div class="form-group">
                    <label for="search_term">Search Term:</label>
                    <input type="text" class="form-control" id="search_term" name="search_term"  
                    value="{{ search_form.search_term.value }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% else %}
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button type="submit">Login</button>
                </form>
                <form method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <button type="submit">Signup</button>
                </form>
                {% endif %}
            </li>
        </ul>
    </nav> 
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>