<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% comment %} <nav>
        <ul>
            <li><a href="{% url  'index' %}">Home</a></li> 
            <li>
                <form action="{% url 'search' %}" method="get">
                    <input type="text" name="query" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
            </li>
        </ul>
    </nav> {% endcomment %}
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>