<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>{{ doctor.name }} Details</title>  
</head>  
<body>  
    <div class="container my-5">  
        <h1 class="text-center">{{ doctor.name }}</h1>  
        <p class="text-center"><strong>Career:</strong> {{ doctor.career }}</p>  
        <p class="text-center"><strong>Price:</strong> ${{ doctor.price }}</p>  
        <p>Average Rating: {{ average_rating }}</p>
        <h1>{{ doctor.name }}'s Availability</h1>  
        <ul>  
            {% for date in available_days %}  
                <li>  
                    <a href="{% url 'time_slots' doctor.id date|date:'Y-m-d' %}">  
                        {{ date|date:"Y-m-d" }}  
                    </a>  
                </li>  
            {% endfor %}  
        </ul>      
        
     
    {% include "comment_section.html" with comment_form=comment_form comments=comments %}  
</body>  
</html>