
{% load static %}

{% block title %}
    {{ doctor.name }} Details
{% endblock %}

{% block head %}
    <!-- Link to Bootstrap CSS, which is already included in base.html -->
    <!-- Include specific CSS for this page -->
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center">{{ doctor.name }}</h1>
        <p class="text-center"><strong>Career:</strong> {{ doctor.career }}</p>
        <p class="text-center"><strong>Price:</strong> ${{ doctor.price }}</p>
        <h4 class="text-center">  
            Average Rating:   
            {% if average_rating %}  
                <strong>{{ average_rating|floatformat:1 }}</strong>  
            {% else %}  
                <strong>No ratings yet.</strong>  
            {% endif %}  
        </h4>  

        <h2>Available Time Slots</h2>
        <div class="row">
            {% for day, slots in available_slots.items %}
            <div class="col-md-4 mb-3">
                <h5>{{ day }}</h5>
                <ul class="list-group">
                    {% if slots %}
                    {% for slot in slots %}
                    {% if slot.2 %}
                    <li class="list-group-item booked">{{ slot.0 }}</li> <!-- Booked slot -->
                    {% else %}
                    <li class="list-group-item available" onclick="reserveTime('{{ slot.1 }}', this)">{{ slot.0 }}</li> <!-- Available slot -->
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item">No available times.</li>
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </div>

        <form id="reservationForm" method="POST" action="{% url 'payment' %}">
            {% csrf_token %}
            <input type="hidden" id="slotInput" name="slot">
            <input type="hidden" id="doctorIdInput" name="doctor_id" value="{{ doctor.id }}">
        </form>

        <div class="text-center">
            <button id="reserveButton" class="btn btn-primary reserve-button" onclick="confirmReservation()">Reserve Time</button>
        </div>

        {% include "comment_section.html" with comment_form=comment_form comments=comments %}


{% endblock %}

{% block script %}
    <!-- Include JavaScript specific to this page -->
    <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}
